.app-toolbar {
  transform: translate3d(0, -50%, 0);
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 56px;
  z-index: 10;
  left: 8px;
  top: 50%;
  button {
    background-color: transparent;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color: #9DA4B2;
    cursor: pointer;
    width: inherit;
    outline: none;
    height: 48px;
    border: 0;
    &[aria-selected="true"] {
      background-color: #35A7FF;
      color: #FFFFFF;
    }
    &:not([aria-selected="true"]):hover {
      color: #35A7FF;
    }
  }
}