.app-sidebar-sprites {
  flex-direction: row;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  > li {
      flex-direction: column;
      display: flex;
      width: 100%;
      > ul {
          flex-direction: row;
          list-style: none;
          flex-wrap: wrap;
          display: flex;
          padding: 0;
          margin: 0;
          > li {
              display: inline-flex;
              flex: 0 1 32px;
              margin: 1px;
          }
      }
  }
  button {
      background-color: transparent;
      padding: 0 0 100% 0;
      display: block;
      width: 100%;
      margin: 0;
      height: 0;
      border: 0;
  }
}